NJUSKALO_URLS=https://www.njuskalo.hr/prodaja-kuca?geo%5BlocationIds%5D=9515%2C9509|||https://www.njuskalo.hr/prodaja-zemljista?geo%5BlocationIds%5D=9515%2C9509
INDEX_HR_URLS=https://www.index.hr/oglasi/nekretnine/prodaja-kuca/zapresic/pretraga?searchQuery=...
OGLASNIK_HR_URLS=https://oglasnik.hr/kuce-prodaja?...
NEKRETNINE_HR_URLS=https://www.nekretnine.hr/prodaja-samostojeca-kuce/...
UPSTASH_REDIS_REST_URL=https://xyz.upstash.io
UPSTASH_REDIS_REST_TOKEN=AXxx...
TELEGRAM_BOT_TOKEN=123456:ABC-DEF...
TELEGRAM_CHAT_ID=123456789
